:root {
  --color-one:#18122B;
  --color-two: #393053;
  --color-three: #443C68;
  --color-four: #635985;
  --color-five: #FFFFFF;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.main {
  background-color: var(--color-one) ;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

.logo a {
  text-decoration: none;
  color: var(--color-five);
  font-weight: 800;
  font-size: large;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  color: var(--color-five);
  text-decoration: none;
  font-weight: 600;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  opacity: 0.5;
}

.cta {
  padding: 9px 25px;
  background-color: var(--color-four);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: var(--color-four);
  opacity: 0.5;
}

.hero h1 {
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 96px;
  color: var(--color-five);
}

.crypto-text{
  text-transform: uppercase;
  background: linear-gradient(to right, var(--color-four) 0% ,var(--color-five) 25%, var(--color-four) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-btn-cont{
  display: flex;
  justify-content: center;
}

.hero-btn{
  font-weight: 600;
  font-size: 25px;
  text-decoration: none;
  color: var(--color-five);
  background-color: var(--color-four);
  padding: 9px 25px;
  width: 150px;
  height: 30px;
  text-align: center;
  border-radius: 25px;
}

.hero-btn:hover {
  opacity: 0.5;
}

.market {
  background-color: var(--color-one);
  height: 125vh;
  color: var(--color-five);
}

.market-title{
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: 600;
  margin: 0 0 10px 100px;
}

.market-content {
  margin-left: 100px;
  margin-right: 100px;
}

.market-content-title {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 600;
  display: grid;
  grid-template-columns: 300px 300px 300px auto;
  background-color: var(--color-three);
  border-radius: 10px;
}

.coin-title{
  padding-left: 20px;
}

.market-content-list {
  display: grid;
  grid-template-columns: 300px 300px 300px auto;
  border-bottom: 1px solid var(--color-three);
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.market-content-list:hover{
  background-color:#888 ;
  border-radius: 10px;
}

.green-text {
  color: greenyellow;
}

.red-text {
  color: red;
}

.market-content__coin-list__pagination{
  margin: 20px 0 0 100px;
}

.footer{
  height: 30vh;
  background-color: #2A2831;
  color:#888;
}

.footer-content{
  display: grid;
  grid-template-columns: 400px 300px auto;
  grid-column-gap: 30px;
  margin: 0 100px 0 100px;
}

.footer-content-bot {
  text-align: center;
}

.about{
  background-color: var(--color-one);
  height: 100vh;
  padding: 0 10% 0 10%;
}

.about-title {
  color: var(--color-five);
  font-family: 'Montserrat';
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
  display: flex;
  justify-content: end;
}

.about-cards{
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
}

.about-card{
  color: var(--color-five);
  box-shadow: 0 0 50px 0 rgba(0,0,0,0.5);
  border-radius: 10px;
  background-color: var(--color-two);
  padding: 20px;
}

.about-card:hover{
  box-shadow: 0 0 50px 0px rgba(0,0,0,1);
  opacity: 0.9;
}

.about-button {
  background-color: var(--color-four); /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}

.login{
  background-color: var(--color-one);
  height: 100vh;
}

label {
  font-family: "Monserrat", sans-serif;
  font-size: 11pt;
  color: var(--color-five);
}

#forgot-pass {
  color: var(--color-five);
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
  margin-top: 3px;
  text-align: right;
}

#card {
  background: var(--color-four);
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
  height: 410px;
  margin: auto auto 8.1rem auto;
  width: 329px;
}
#card-content {
  padding: 12px 44px;
}
#card-title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
  padding-bottom: 23px;
  padding-top: 13px;
  text-align: center;
  color: var(--color-five);
}
#signup {
  color: var(--color-five);
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
  margin-top: 16px;
  text-align: center;
}
#submit-btn {
  background-color: var(--color-three);
  border: none;
  border-radius: 21px;
  box-shadow: 0px 0px 30px 0 rgba(0,0,0,0.3);
  cursor: pointer;
  color: white;
  font-family: "Raleway SemiBold", sans-serif;
  height: 42.3px;
  margin: 0 auto;
  margin-top: 50px;
  transition: 0.25s;
  width: 153px;
}
#submit-btn:hover {
  box-shadow: 0px 0px 10px 0 rgba(0,0,0,0.4);
}
.form {
  align-items: left;
  display: flex;
  flex-direction: column;
}
.form-border {
  background-color: var(--color-one);
  height: 1px;
  width: 100%;
}
.form-content {
  background: #fbfbfb;
  border: none;
  outline: none;
  padding-top: 14px;
}
.underline-title {
  background: var(--color-one);
  height: 2px;
  margin: -1.1rem auto 0 auto;
  width: 89px;
}

.btn-back-login {
  font-family: 'Montserrat';
  font-weight: 600;
  margin: 30px;
  background-color: var(--color-four);
  border: none;
  border-radius: 21px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}
.btn-back-login:hover {
  box-shadow: 0px 1px 18px black;
}

.register{
  background-color: var(--color-one);
  height: 100vh;
}

.portfolio{
  height: 100vh;
  background-color: var(--color-one);
}

.add-trans {
  font-family: 'Montserrat';
  color: white;
  background-color: var(--color-four);
  height: 40px;
  width: 200px;
  margin-left: 70px ;
  border-radius: 20px;
}

.portfolio-top{
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.portfolio-bot{
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto;
}

.portofolio-box{
  font-family: 'Montserrat';
  color: white;
  background-color: var(--color-three);
  margin: 0 20px 5px 20px;
  padding-top: 10px;
  height: 70px;
  border-radius: 25px;
}

.portfolio-boxbot{
  font-family: 'Montserrat';
  color: white;
  background-color: var(--color-three);
  margin: 0 20px 20px 20px;
  padding-top: 10px;
  height: 300px;
  border-radius: 25px;
}

.logout {
  font-family: 'Montserrat';
  color: white;
  background-color: var(--color-three);
  height: 40px;
  width: 200px;
  border-radius: 20px;
  position: absolute;
  right: 70px;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.trans-box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}